#icon {
    display: none;
    @media screen and (max-width: 997px) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: bisque;
    }
}
#navitems {
    @media screen and (max-width: 997px) {
        position: absolute;
        top: 101%;
        left: -200%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: $bg;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s linear;
        a{
            margin-bottom: 3vh;
        }
        &.show{
            left: 0;
        }
    }
}
body{
    background: $bg;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200vh;
}
