@import "./modules/varibles";
@import "./modules/reset";
.container-fluid {
    border-bottom: 2px solid $color;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logos {
            .logo {
                width: 30%;
            }
        }

        .nav {
            display: flex;
            justify-content: space-evenly;
            width: 78%;

            .active {
                color: $color;
            }
            a {
                text-decoration: none;
                color: $hover;
                font-size: 22px;
                &:hover {
                    color: $color;
                }
                &:nth-child(5) {
                    border: 1px solid $color;
                    background-color: $color;
                    font-size: 18px;
                    padding: 6px;
                    border-radius: 6px;
                    width: 122px;
                    display: flex;
                    justify-content: center;
                    &:hover {
                        background-color: $hover;
                    }
                }
                &:nth-child(6) {
                    border: 1px solid $color;
                    background-color: $color;
                    font-size: 18px;
                    padding: 6px;
                    border-radius: 6px;
                    width: 122px;
                    display: flex;
                    justify-content: center;
                    &:hover {
                        background-color: $hover;
                    }
                }
            }
        }
    }
}
